footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: radial-gradient(yellow, orange);
    text-decoration: none;
    list-style: none;
    
  }