.box_cap {
    background-image: radial-gradient(red, orange);
    width: 60vh;
    height: 100px;
    border-color: black;
    border-style: groove;
    border-width: 5px;
    margin: 10px;
    text-decoration: underline;
    
  }